language: ruby
rvm:
  - 1.9.3
notifications:
  email: false
bundler_args: --deployment
script:
  - bundle exec rake db:migrate
  - bundle exec rake spec

env:
  global:
    secure: ! '1f9orHZkf0fP1N/HiN9UzW6h1xPx/SzBS2X2zsO8Yf63381hH+lW2z4txNmE
      X5Ouyw8BZ5ufJpp86GPitYIRxaykafDdpGjoJKNEwRKJM1yq9dhBCuEr4IjR
      XNg0venKJkldhfdAVH8VnVbxopzoQaRBoCD75JLx8aOJ045q5D8='

after_success:
  - ./heroku.sh